body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fed0bb;
    margin:0;
}

header {
    background-color: #8c2f39;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

    header p{
        margin-top:0;
        margin-bottom: 15px;
    }

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #b23a48;
    padding-top: 15px;
    padding-bottom: 15px;
}

    footer p{
        margin: 0;
        font-weight: bold;
    }

.main-content{
    flex: 0 1 75%;
    text-align: center;
}

.sidebar{
    flex: 0 1 25%;
    background: #808080;
   text-align: center;
}

#editor-panel {
    flex: 1;
}

    #editor-panel h2 {
        margin-top: 0;
    }

#editor {
    width: 800px;
    height: 600px;
    border-radius: 8px;
    border: 2px dashed #555;
    position: relative;
    background: #808080;
    overflow: hidden;
}

.block {
    width: 100px;
    height: 100px;
    background: #070707;
    position: absolute;
}

.pig {
    width: 50px;
    height: 50px;
    background: #14A623;
    position: absolute;
}

.catapult {
    width: 50px;
    height: 100px;
    background: #593A1D;
    position: absolute;
}

.dirt {
    width: 100px;
    height: 100px;
    background: #DCA050;
    position: absolute;
}

.rock {
    width: 70px;
    height: 70px;
    background: #C4BEBB;
    position: absolute;
}

.button-row{
    margin-top: 15px;
    margin-bottom: 15px;
}

    .button-row button{
        padding: 5px;
    }

#delete-level {
    background-color: darkred;
    color: whitesmoke;
}

#add-block {
    background-color: rosybrown;
    color: whitesmoke;
}

#add-pig {
    background-color: darkgreen;
    color: whitesmoke;
}

#add-catapult{
    background-color: saddlebrown;
    color: whitesmoke;
}

#add-dirt {
    background-color: #593A1D;
    color: whitesmoke;
}

#add-rock {
    background-color: dimgray;
    color: whitesmoke;
}

