body {
    display: block;
    text-align: center;
    background: #f7ddd0;
    margin: 0;
    padding: 0;
}

canvas{
    display:block;
    background-color: #a7ffeb;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.divExtra{
    width: 90%;
    overflow: hidden;
    border: 2px solid #004d40;
}